body {
    background-image: url(images/background.jpg);
    /* images folder not in CSs folder*/
}

h1 {
    color: white;
    background: darkseagreen;
    width: 25%;
    height: auto;
    text-align: center;
    align-content: center;
    margin: 5px;
}

#score {}

img {
    height: 80px;
    width: auto;
    border: black solid 1px;
}

.p {
    margin: 5px;
}

.container {
    margin: 5px;
}

.content {
    color: gree;
    background-color: tan;
    margin: 5px;
    width: 40%;
}

.box {
    height: 50px;
    background-color: lightgreen;
    width: 30%;
    margin: 5px;
    width: 20%;
    margin: 5px;
}

.box2 {
    height: auto;
    background-color: tan;
    width: 30%;
    margin: 5px;
    width: 20%;
    align-content: center;
    text-align: center;
    justify-content: center;
    color: white;
}

.scoreboard {
    height: 100px;
    width: 140px;
    background-color: lightblue;
    margin: 5px;
    font: x-large;
    float: left;
}

.wls {
    height: 100px;
    width: 70px;
    background-color: lightblue;
    margin: 5px;
    float: left;
    display: block;
}

.li {
    float: left;
    padding: 0;
    margin: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flies {
    width: 40%;
}

.livescore {
    height: 100px;
}