* {
  font-family: helvetica;
  background-color: #202124;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* images folder not in CSs folder*/
}

.content {
  margin-left: 25%;
  width: 50%;
  padding: 5px;
  align-content: center;
}

.h2 {
  color: white;
  width: 100%;
  height: auto;
  align-content: center;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 10%;
}

.h3 {
  color: white;
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  margin-top: 10px;
}

.p {
  color: white;
  margin-top: 10px;
}

.active {
  background-color: #0b2d3d;
  font-size: 24px;
  margin-right: auto;
}

.greenText {
  color: #98ECC3;
}

img {
  height: 70px;
  width: auto;
  border-radius: 50%;
}

#container {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  height: 50px;
  background-color: #202124;
  width: 450%;
  width: 20%;
  margin: 5px;
}

.scoreboard {
  height: 120px;
  width: 22%;
  background-color: #202124;
  border: 2px solid #98ECC3;
  margin: 4px;
  margin-left: 5%;
  font: x-large;
  display: inline-block;
  padding: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.wls {
  height: 120px;
  width: 22%;
  background-color: #202124;
  margin: 4px;
  justify-content: center;
  display: inline-block;
  border: 2px solid #98ECC3;
  padding: 5px;
  text-align: center;
  align-content: center;
}

.li {
  float: left;
  padding: 0;
  margin: 5px;
}

.flies {
  margin-left: 25%;
  width: 50vw;
  padding: 5px;
  text-align: center;
  align-content: center;
}

.livescore {
  height: 100px;
  margin-left: 25%;
  background-color: #202124;
  width: 50%;
  border: 2px solid #98ECC3;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 640px) {
  #container {
    width: 400px;
  }
}