body {
    background-image: url(images/img2.jpg);
    /* images folder not in CSs folder*/
}

h1 {
    color: white;
    background: darkseagreen;
    width: 60%;
    height: auto;
    text-align: center;
    align-content: center;
    margin: 5px;
    border: black solid 1px;
    padding: 5px;
}

.content {
    color: gree;
    background-color: tan;
    margin: 5px;
    width: 60%;
    border: black solid 1px;
    padding: 5px;
}

.h2 {
    color: white;
    background: darkseagreen;
    width: 60%;
    height: auto;
    text-align: center;
    align-content: center;
    border: black solid 1px;
    font-size: large;
    margin: 5px;
    padding: 5px;
}

img {
    height: 80px;
    width: auto;
    border: black solid 1px;
}

.p {
    margin: 5px;
}

#container {
    position: absolute;
    left: 25%;
    margin-left: -25px;
}

.box {
    height: 50px;
    background-color: lightgreen;
    width: 450%;
    width: 20%;
    margin: 5px;
}

/* .box2 {
    height: auto;
    background-color: tan;
    width: 30%;
    margin: 5px;
    width: 30%;
    align-content: center;
    text-align: center;
    justify-content: center;
    color: black;
    border: black solid 1px;
    padding: 5px;
}*/

.scoreboard {
    height: 150px;
    width: 140px;
    background-color: lightblue;
    margin: 5px;
    font: x-large;
    float: left;
    border: black solid 1px;
    padding: 5px;
}

.wls {
    height: 150px;
    width: 70px;
    background-color: lightblue;
    margin: 5px;
    float: left;
    display: block;
    border: black solid 1px;
    padding: 5px;
}

.li {
    float: left;
    padding: 0;
    margin: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flies {
    width: 70%;
}

.livescore {
    height: 100px;
}

@media screen and (max-width: 640px) {
    #container {
        width: 400px;
    }
}